.daisy-docx-preview-viewport > .daisy-docx-preview-wrapper {
  transform-origin: top left;
}

.daisy-docx-zoom-10 > .daisy-docx-preview-wrapper { zoom: 0.10; }
.daisy-docx-zoom-11 > .daisy-docx-preview-wrapper { zoom: 0.11; }
.daisy-docx-zoom-12 > .daisy-docx-preview-wrapper { zoom: 0.12; }
.daisy-docx-zoom-13 > .daisy-docx-preview-wrapper { zoom: 0.13; }
.daisy-docx-zoom-14 > .daisy-docx-preview-wrapper { zoom: 0.14; }
.daisy-docx-zoom-15 > .daisy-docx-preview-wrapper { zoom: 0.15; }
.daisy-docx-zoom-16 > .daisy-docx-preview-wrapper { zoom: 0.16; }
.daisy-docx-zoom-17 > .daisy-docx-preview-wrapper { zoom: 0.17; }
.daisy-docx-zoom-18 > .daisy-docx-preview-wrapper { zoom: 0.18; }
.daisy-docx-zoom-19 > .daisy-docx-preview-wrapper { zoom: 0.19; }
.daisy-docx-zoom-20 > .daisy-docx-preview-wrapper { zoom: 0.20; }
.daisy-docx-zoom-21 > .daisy-docx-preview-wrapper { zoom: 0.21; }
.daisy-docx-zoom-22 > .daisy-docx-preview-wrapper { zoom: 0.22; }
.daisy-docx-zoom-23 > .daisy-docx-preview-wrapper { zoom: 0.23; }
.daisy-docx-zoom-24 > .daisy-docx-preview-wrapper { zoom: 0.24; }
.daisy-docx-zoom-25 > .daisy-docx-preview-wrapper { zoom: 0.25; }
.daisy-docx-zoom-26 > .daisy-docx-preview-wrapper { zoom: 0.26; }
.daisy-docx-zoom-27 > .daisy-docx-preview-wrapper { zoom: 0.27; }
.daisy-docx-zoom-28 > .daisy-docx-preview-wrapper { zoom: 0.28; }
.daisy-docx-zoom-29 > .daisy-docx-preview-wrapper { zoom: 0.29; }
.daisy-docx-zoom-30 > .daisy-docx-preview-wrapper { zoom: 0.30; }
.daisy-docx-zoom-31 > .daisy-docx-preview-wrapper { zoom: 0.31; }
.daisy-docx-zoom-32 > .daisy-docx-preview-wrapper { zoom: 0.32; }
.daisy-docx-zoom-33 > .daisy-docx-preview-wrapper { zoom: 0.33; }
.daisy-docx-zoom-34 > .daisy-docx-preview-wrapper { zoom: 0.34; }
.daisy-docx-zoom-35 > .daisy-docx-preview-wrapper { zoom: 0.35; }
.daisy-docx-zoom-36 > .daisy-docx-preview-wrapper { zoom: 0.36; }
.daisy-docx-zoom-37 > .daisy-docx-preview-wrapper { zoom: 0.37; }
.daisy-docx-zoom-38 > .daisy-docx-preview-wrapper { zoom: 0.38; }
.daisy-docx-zoom-39 > .daisy-docx-preview-wrapper { zoom: 0.39; }
.daisy-docx-zoom-40 > .daisy-docx-preview-wrapper { zoom: 0.40; }
.daisy-docx-zoom-41 > .daisy-docx-preview-wrapper { zoom: 0.41; }
.daisy-docx-zoom-42 > .daisy-docx-preview-wrapper { zoom: 0.42; }
.daisy-docx-zoom-43 > .daisy-docx-preview-wrapper { zoom: 0.43; }
.daisy-docx-zoom-44 > .daisy-docx-preview-wrapper { zoom: 0.44; }
.daisy-docx-zoom-45 > .daisy-docx-preview-wrapper { zoom: 0.45; }
.daisy-docx-zoom-46 > .daisy-docx-preview-wrapper { zoom: 0.46; }
.daisy-docx-zoom-47 > .daisy-docx-preview-wrapper { zoom: 0.47; }
.daisy-docx-zoom-48 > .daisy-docx-preview-wrapper { zoom: 0.48; }
.daisy-docx-zoom-49 > .daisy-docx-preview-wrapper { zoom: 0.49; }
.daisy-docx-zoom-50 > .daisy-docx-preview-wrapper { zoom: 0.50; }
.daisy-docx-zoom-51 > .daisy-docx-preview-wrapper { zoom: 0.51; }
.daisy-docx-zoom-52 > .daisy-docx-preview-wrapper { zoom: 0.52; }
.daisy-docx-zoom-53 > .daisy-docx-preview-wrapper { zoom: 0.53; }
.daisy-docx-zoom-54 > .daisy-docx-preview-wrapper { zoom: 0.54; }
.daisy-docx-zoom-55 > .daisy-docx-preview-wrapper { zoom: 0.55; }
.daisy-docx-zoom-56 > .daisy-docx-preview-wrapper { zoom: 0.56; }
.daisy-docx-zoom-57 > .daisy-docx-preview-wrapper { zoom: 0.57; }
.daisy-docx-zoom-58 > .daisy-docx-preview-wrapper { zoom: 0.58; }
.daisy-docx-zoom-59 > .daisy-docx-preview-wrapper { zoom: 0.59; }
.daisy-docx-zoom-60 > .daisy-docx-preview-wrapper { zoom: 0.60; }
.daisy-docx-zoom-61 > .daisy-docx-preview-wrapper { zoom: 0.61; }
.daisy-docx-zoom-62 > .daisy-docx-preview-wrapper { zoom: 0.62; }
.daisy-docx-zoom-63 > .daisy-docx-preview-wrapper { zoom: 0.63; }
.daisy-docx-zoom-64 > .daisy-docx-preview-wrapper { zoom: 0.64; }
.daisy-docx-zoom-65 > .daisy-docx-preview-wrapper { zoom: 0.65; }
.daisy-docx-zoom-66 > .daisy-docx-preview-wrapper { zoom: 0.66; }
.daisy-docx-zoom-67 > .daisy-docx-preview-wrapper { zoom: 0.67; }
.daisy-docx-zoom-68 > .daisy-docx-preview-wrapper { zoom: 0.68; }
.daisy-docx-zoom-69 > .daisy-docx-preview-wrapper { zoom: 0.69; }
.daisy-docx-zoom-70 > .daisy-docx-preview-wrapper { zoom: 0.70; }
.daisy-docx-zoom-71 > .daisy-docx-preview-wrapper { zoom: 0.71; }
.daisy-docx-zoom-72 > .daisy-docx-preview-wrapper { zoom: 0.72; }
.daisy-docx-zoom-73 > .daisy-docx-preview-wrapper { zoom: 0.73; }
.daisy-docx-zoom-74 > .daisy-docx-preview-wrapper { zoom: 0.74; }
.daisy-docx-zoom-75 > .daisy-docx-preview-wrapper { zoom: 0.75; }
.daisy-docx-zoom-76 > .daisy-docx-preview-wrapper { zoom: 0.76; }
.daisy-docx-zoom-77 > .daisy-docx-preview-wrapper { zoom: 0.77; }
.daisy-docx-zoom-78 > .daisy-docx-preview-wrapper { zoom: 0.78; }
.daisy-docx-zoom-79 > .daisy-docx-preview-wrapper { zoom: 0.79; }
.daisy-docx-zoom-80 > .daisy-docx-preview-wrapper { zoom: 0.80; }
.daisy-docx-zoom-81 > .daisy-docx-preview-wrapper { zoom: 0.81; }
.daisy-docx-zoom-82 > .daisy-docx-preview-wrapper { zoom: 0.82; }
.daisy-docx-zoom-83 > .daisy-docx-preview-wrapper { zoom: 0.83; }
.daisy-docx-zoom-84 > .daisy-docx-preview-wrapper { zoom: 0.84; }
.daisy-docx-zoom-85 > .daisy-docx-preview-wrapper { zoom: 0.85; }
.daisy-docx-zoom-86 > .daisy-docx-preview-wrapper { zoom: 0.86; }
.daisy-docx-zoom-87 > .daisy-docx-preview-wrapper { zoom: 0.87; }
.daisy-docx-zoom-88 > .daisy-docx-preview-wrapper { zoom: 0.88; }
.daisy-docx-zoom-89 > .daisy-docx-preview-wrapper { zoom: 0.89; }
.daisy-docx-zoom-90 > .daisy-docx-preview-wrapper { zoom: 0.90; }
.daisy-docx-zoom-91 > .daisy-docx-preview-wrapper { zoom: 0.91; }
.daisy-docx-zoom-92 > .daisy-docx-preview-wrapper { zoom: 0.92; }
.daisy-docx-zoom-93 > .daisy-docx-preview-wrapper { zoom: 0.93; }
.daisy-docx-zoom-94 > .daisy-docx-preview-wrapper { zoom: 0.94; }
.daisy-docx-zoom-95 > .daisy-docx-preview-wrapper { zoom: 0.95; }
.daisy-docx-zoom-96 > .daisy-docx-preview-wrapper { zoom: 0.96; }
.daisy-docx-zoom-97 > .daisy-docx-preview-wrapper { zoom: 0.97; }
.daisy-docx-zoom-98 > .daisy-docx-preview-wrapper { zoom: 0.98; }
.daisy-docx-zoom-99 > .daisy-docx-preview-wrapper { zoom: 0.99; }
.daisy-docx-zoom-100 > .daisy-docx-preview-wrapper { zoom: 1; }
