[data-daisy-kit-module="forms-viewer"] [data-daisy-kit-forms-content] {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

[data-daisy-kit-module="forms-viewer"] [data-daisy-kit-forms-field] {
    display: grid;
    gap: 0.375rem;
    grid-column: span 12;
}

[data-daisy-kit-module="forms-viewer"] fieldset[data-daisy-kit-forms-container] {
    grid-column: span 12;
}

[data-daisy-kit-module="forms-viewer"] [data-daisy-kit-forms-actions] {
    grid-column: span 12;
}

@media (min-width: 48rem) {
    [data-daisy-kit-module="forms-viewer"] .daisy-kit-forms-field--span-quarter {
        grid-column: span 3;
    }

    [data-daisy-kit-module="forms-viewer"] .daisy-kit-forms-field--span-third {
        grid-column: span 4;
    }

    [data-daisy-kit-module="forms-viewer"] .daisy-kit-forms-field--span-half {
        grid-column: span 6;
    }

    [data-daisy-kit-module="forms-viewer"] .daisy-kit-forms-field--span-two-thirds {
        grid-column: span 8;
    }

    [data-daisy-kit-module="forms-viewer"] .daisy-kit-forms-field--span-three-quarters {
        grid-column: span 9;
    }
}

[data-daisy-kit-module="forms-viewer"] input,
[data-daisy-kit-module="forms-viewer"] select,
[data-daisy-kit-module="forms-viewer"] textarea {
    width: 100%;
}
