@import 'tailwindcss';
@plugin 'daisyui';

@source '../../../resources/views';
@source '../../../resources/js';

main {
    margin-inline: auto;
    max-width: 72rem;
    padding: 2rem;
}

[data-daisy-kit-module] {
    min-height: 6rem;
}
